/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.
https://www.w3schools.com/css/css_rwd_mediaqueries.asp
--------------------------------------------------------------*/

.tml{
	border: 1px solid #e6e3e3;
    background: #fff;
    padding: 40px 30px;
    max-width: 550px;
    margin: 0 auto;
    border-radius: 15px;
}


#bp-businesses-content {
    padding: 0 10px;
}

li#beamline-personal-li {
    display: none;
}

body.can-create-business li#beamline-personal-li {
    display: block;
} 

.bp-business-description img.alignleft {
    margin: 0 15px 15px 0;
}

.bp-business-description img.alignright {
    margin: 0 0 15px 15px;
}

.buddypress-wrap #business-create-body p.bp-business-excerpt{
    text-align: left;
}

.buddypress-wrap .bp-navs li#members-developer,
.buddypress-wrap .bp-navs li#members-tester{
	display:none;
}


.bb-template-v2 .site-header #primary-navbar .menu-item>.ab-submenu{
	max-width:200px;
	min-width:200px;
}

.site-header #primary-navbar .primary-menu .menu-item>.ab-submenu .bb-sub-menu .menu-item a{
	white-space: break-spaces;
    text-overflow: ellipsis;
	line-height:1.3;
}

.bbpress-forum-discussion .forum-subnav{
	list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bbpress-forum-discussion .forum-subnav li a {
    background: #edeff1;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
	display:block;
}

/* .bbpress-forum-discussion .forum-subnav li.selected a {
    background: #000951;
    color: #fff;
} */

.bbpress-forum-discussion .forum-subnav li a.selected {
    background-color: #000951!important;
    color: #fff!important;
}

#bbpress-forums #new-post .sayansi-back-forum-page{
	display:none;
}

#response-container h1 {
    margin-bottom: 20px !important;
}

body #buddypress #header-cover-image.width-full{
	width: inherit;
    left: 0;
    right: 0;
    margin-left: -30px;
    margin-right: -30px;
	border-radius:var(--bb-block-radius) var(--bb-block-radius) 0 0;
}

.bb-template-v2 #cover-image-container{
	border-radius:var(--bb-block-radius) var(--bb-block-radius);
}

.bb-template-v2 .widget.widget_bp_profile_completion_widget{
	display:none;
}


.bb-template-v2.my-profile.profile .widget.widget_bp_profile_completion_widget{
	display:block;
}

.bp_members #buddypress.buddypress-wrap .bb-profile-grid #secondary.widget-area{
	display:none;
}

.bb-template-v2.my-profile.profile  .bp_members #buddypress.buddypress-wrap .bb-profile-grid #secondary.widget-area{
	display:block;
}

.single-attachment:not(.has-sidebar,.elementor-template-full-width) .content-area, .single-attachment:not(.has-sidebar,.elementor-template-full-width) .site-content-grid, .single-post:not(.has-sidebar,.elementor-template-full-width) .content-area, .single-post:not(.has-sidebar,.elementor-template-full-width) .site-content-grid{
	max-width: 100%;
}


